@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

:root {
    --colore-primario: #dcb34e;
    --colore-primario-light: #ebd083;
    --colore-scuro: #3e3e40;
    --colore-testo: #1a1a1a;
    --colore-sfondo: #f9f8f3;
    --sfondo-card: #ffffff;
    --gap-griglia: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--colore-sfondo);
    line-height: 1.6;
}


/* Uso Flexbox per allineare il logo a sinistra e i link a destra.
   Con position: sticky (e top: 0) la barra rimane incollata in alto durante lo scroll. */

.navbar {
    color: #dcb34e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sfondo-card);
    padding: 15px 50px;
    position: sticky;
    z-index: 100000;
    top: 0;
    background-color: var(--colore-primario);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--colore-scuro);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: var(--colore-testo);
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(45, 66, 255)
}

/* HERO SECTION (SFONDO PRINCIPALE) */
/* background-size: cover è fondamentale perché adatta l'immagine senza deformarla. */
.hero {
    height: 600px;
    background-image: url('assets/img/SfondoPrincipale.jpg');
    background-color: var(--colore-primario);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    text-align: center;
    color: var(--colore-scuro);
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.hero-content h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    margin-bottom: 15px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}


/*bottoni*/

/* Imposto le transizioni per fare in modo che 
   il cambio di colore sull'hover sia fluido e non a scatto. */

.btn {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn-disabled {
    background-color: var(--colore-scuro);
    color: white;
    cursor: pointer;
}

.btn-card {
    background-color: var(--colore-primario);
    color: var(--colore-scuro);
    margin-top: 15px;
}

.btn-card:hover {
    background-color: var(--colore-scuro);
    color: white;
}

/*section delle info */
.info-section {
    padding: 60px 40px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info-section h2 {
    font-size: 2.5rem;
    color: var(--colore-primario);
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.2rem;
}


/* grid e card */

.grid-section {
    padding: 50px 40px;

}

.grid-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
    color: var(--colore-scuro);
}

.bg-light {
    background-color: var(--sfondo-card)
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*3 frz uguali, (odio le grid) dice al browser di creare esattamente 3 colonne 
   occupando una frazione di spazio uguale ciascuna.*/
    gap: var(--gap-griglia);
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    background-color: var(--sfondo-card);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
}
/* Pulisco il tag <a> in modo che non sembri un link con la linea in basso */
.card-link {
    text-decoration: none;
    color: inherit;
    /*colori della card*/
    display: block;
}


.card-img {
    height: 200px;
    background-color: #c5c3c3;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    overflow: hidden;
    /* Taglia l'immagine se è più grande del box da 200px */
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.placeholder-img-att {
    background-color: var(--colore-primario-light);
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*bottone in fondo al contenitore (belle le flex)*/
    align-items: flex-start;
}

.card-body h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card-body p {
    flex-grow: 1;
    margin-bottom: 15px;
}


.overlay-container {
    position: relative;
}


.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(220, 179, 78, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--colore-scuro);
    z-index: 2;
}

.form-section {
    padding: 70px 20px;
    background-color: var(--colore-primario-light);
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 30px auto 0;
    background-color: var(--sfondo-card);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--colore-scuro);
}


/* Uso inherit sui font di input/textarea per mantenere coerenza col resto del sito */
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
}

.btn-submit {
    background-color: var(--colore-scuro);
    color: white;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    border-radius: 20px;
}

.btn-submit:hover {
    background-color: var(--colore-testo);
}

footer {
    background-color: var(--colore-scuro);
    color: white;
    text-align: center;
    padding: 25px 20px;
}


/*test media query */

@media (max-width: 850px) {
    /* La griglia passa da 3 colonne a 1*/
    .card-grid {
        grid-template-columns: 1fr; 
    }
    
    .navbar {
        flex-direction: column;
        padding: 15px;
    }
    
    /* I link del menu si mettono al centro e vanno a capo se serve */
    .nav-links {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* Riduciamo un po' il font enorme del titolo sul telefono */
    .hero-content h1 {
        font-size: 2.3rem;
    }
}